.page-enter-active,
.page-leave-active {
  transition: opacity 0.25s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

/* Quill */
.ql-editor p:not(:last-child),
.ql-editor ol:not(:last-child),
.ql-editor ul:not(:last-child) {
  margin-bottom: 0.5em !important;
}

.ql-toolbar {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.ql-container {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
